:root {
    --corBranca: #FFFFFF;
    --corPreta: #000000;
    --cor1: #F1EFEC;
    --cor2: #D4C9BE;
    --cor3: #b22cbe;
    --cor4: #03030362;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 5em;
    margin-right: 5em;
    background-color: var(--corBranca);
    background-image: linear-gradient(115deg, #FFFFFF 0%, #F1EFEC 50%, #D4C9BE 100%);
}

ul {
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), 
                url(https://img.freepik.com/vetores-gratis/fundo-hexagonal-escuro-com-cor-gradiente_79603-1409.jpg?t=st=1746326164~exp=1746329764~hmac=a7644f52510872a492ad506a41b7f7746cdc1189df3e4f03981bef69b8010854&w=996);
    background-size: cover;
    background-position: center;
}

table {
    border: 1px solid var(--cor3);
    border-collapse: collapse;
    padding: 10px;
}

table th {
    background-color: var(--cor3);
    color: var(--corBranca);
    font-size: 1.5rem;
    text-align: center;
}

table td {
    background-color: var(--cor1);
    border: 1px solid var(--cor3);
    color: var(--cor4);
    text-align: center;
}

td.justificado {
    text-align: justify;
}


p {
    color: var(--cor4);
    text-align: justify;
}

h1 {
    color: #123458;
    font-size: 3.5rem;
}

h2.cargo {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    color: #123458;
}

div.cargo {
    background-color: #FF0000;
    margin-left: -5em;
    margin-right: -5em;
}

#cargo {
    color: #4ae900;
}

h2 {
<<<<<<< HEAD
    color: #d63384; 
=======
    color: pink;
    font-size: 1.8rem;
>>>>>>> 4ba57b3 (Adicionar imagem e atualizar currículos HTML e CSS)
}

footer {
    font-family: 'Playfair Display', serif;
}

.centralizar {
    text-align: center;
}

#foto {
    width: 100%;
    max-width: 200px;
    height: auto;
}

a:link {
<<<<<<< HEAD
    color: #f82ac5;
=======
    color: #FF0000;
>>>>>>> 4ba57b3 (Adicionar imagem e atualizar currículos HTML e CSS)
}

a:visited {
    color: #00FF00;
}

a:hover {
    color: #FF00FF;
    font-size: 1.5em;
}

a:active {
    color: #0000FF;
}